- if flash[:message].present?
  %h3 #{flash[:message]}

.row
  .col-md-6
    %h4 Upload Checking Data
    = form_tag upload_account_data_path, multipart: true do
      = label_tag "File Name:"
      = file_field_tag :filename
      %br
      = submit_tag "Submit"
  .col-md-6
    %h4 Upload Credit Card Data
    = form_tag upload_credit_card_data_path, multipart: true do
      = label_tag "File Name:"
      = file_field_tag :filename
      %br
      = submit_tag "Submit"
.row
  .col-md-6
    %h4 Upload Description Tag
    = form_tag upload_description_tags_path, multipart: true do
      = label_tag "File Name:"
      = file_field_tag :filename
      %br
      = submit_tag "Submit"
